	{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <title>Меню</title>
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="header-line">
                <div class="nav">
                    <a class="nav-item" href="{% url 'home' %}">Главная</a>
                    <a class="nav-item" href="{% url 'menu' %}">Меню</a>
                    <a class="nav-item" href="https://2gis.kg/bishkek/geo/70030076130183163">Наш адрес</a>
                </div>
            </div>
<div class="header-down">
			<div class="header-title">
				Меню

			</div>
		</div>
	</div>

	 <div class="slider middle">
	 	<div class="slides">

	 		<input type="radio" name="r" id="r1" checked>
	 		<input type="radio" name="r" id="r2" checked>
	 		<input type="radio" name="r" id="r3" checked>
	 		<input type="radio" name="r" id="r4" checked>
	 		<input type="radio" name="r" id="r5" checked>
	 		<input type="radio" name="r" id="r6" checked>
	 		<input type="radio" name="r" id="r7" checked>
	 		<input type="radio" name="r" id="r8" checked>
	 		<input type="radio" name="r" id="r9" checked>
	 		<input type="radio" name="r" id="r10" checked>





	 		<div class="slide s1"> <img src="https://winkel-irk.ru/d/wk-menyu-10_2.jpg" alt=""></div>
	 		<div class="slide"><img src="https://winkel-irk.ru/d/wk-menyu-01_2.jpg" alt=""></div>
	 		<div class="slide"><img src="https://winkel-irk.ru/d/wk-menyu-02_2.jpg" alt=""></div>
	 		<div class="slide"><img src="https://winkel-irk.ru/d/wk-menyu-03_2.jpg" alt=""></div>
	 		<div class="slide"><img src="https://winkel-irk.ru/d/wk-menyu-04_2.jpg" alt=""></div>
	 		<div class="slide"><img src="https://winkel-irk.ru/d/wk-menyu-05_2.jpg" alt=""></div>
	 		<div class="slide"><img src="https://winkel-irk.ru/d/wk-menyu-06_2.jpg" alt=""></div>
	 		<div class="slide"><img src="https://winkel-irk.ru/d/wk-menyu-07_2.jpg" alt=""></div>
	 		<div class="slide"><img src="https://winkel-irk.ru/d/wk-menyu-08_2.jpg" alt=""></div>
	 		<div class="slide"><img src="https://winkel-irk.ru/d/wk-menyu-09_2.jpg" alt=""></div>

	 	</div>

	 	<div class="navigation">
	 		<label for="r1" class="bar"></label>
	 		<label for="r2" class="bar"></label>
	 		<label for="r3" class="bar"></label>
	 		<label for="r4" class="bar"></label>
	 		<label for="r5" class="bar"></label>
	 		<label for="r6" class="bar"></label>
	 		<label for="r7" class="bar"></label>
	 		<label for="r8" class="bar"></label>
	 		<label for="r9" class="bar"></label>
	 		<label for="r10" class="bar"></label>
	 	</div>

	 </div>

<div class="end">
		<div class="end-image">

		<div class="end-title">
			<a class="end-item" href="https://anaraincruisescom.taplink.ws/?fbclid=PAZXh0bgNhZW0CMTEAAaZuqngIisVP-JGfKlCH-W14xXJ23fIhOuLx7pkwH0L3fcCvqhSfUR91ElA_aem_AUYGrR4YZd_dTNEnkOr8bEffsVJP8wpH402eU5TZsmV2Dt2s5l0qIFxgswURfV7io1DGe4yL6gBaTNFVF8shmAqJ">Whatsapp</a>
			<a class="end-item" href="https://www.instagram.com/erg__1?igsh=enZudGlvcnVwcjh0">Instagram</a>
			<a class="end-item" href="https://www.tiktok.com/@aminqwlx?_t=8mwoXznDSHy&_r=1">Tik-Tok</a>
			<a class="end-item" href="https://2gis.kg/bishkek/geo/70030076130183163">Мы на карте</a>
			<a class="end-item" href="https://anaraincruisescom.taplink.ws/?fbclid=PAZXh0bgNhZW0CMTEAAaZuqngIisVP-JGfKlCH-W14xXJ23fIhOuLx7pkwH0L3fcCvqhSfUR91ElA_aem_AUYGrR4YZd_dTNEnkOr8bEffsVJP8wpH402eU5TZsmV2Dt2s5l0qIFxgswURfV7io1DGe4yL6gBaTNFVF8shmAqJ">Номер для брони</a>

		</div>
	</div>
	</div>

	</body>
	</html>